<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="main-header">
        <a id="logo-header" href="#">
            <span class="site-name">Museo Sole Novum</span>
            <span class="site-desc">Añadir ejemplar a la base de datos</span>
        </a>
    </header>
    <div id="contenedor">
        <form action th:action="@{/coinModelAdded}" method="POST" th:object="${coinModel}">
            <p>
                Valor facial: <input type="text" name="faceValue" placeholder="ej: 1.50" required/>
            </p>
            <p th:if="${#fields.hasErrors('faceValue')}" th:errors="*{faceValue}">error de valor facial</p>
            <p>
                Unidad monetaria: <input type="text" th:field="*{currency}" required/>
            </p>
            <p th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">error de unidad monetaria</p>
            <p>
                Diámetro (en mm): <input type="text" name="diameter" placeholder="ej: 20.0" required/>
            </p>
            <p th:if="${#fields.hasErrors('diameter')}" th:errors="*{diameter}">error de diametro</p>
            <p>
                Peso (en g): <input type="text" name="weight" placeholder="ej: 35" required/>
            </p>
            <p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">error de peso</p>

            <p>Metal/es de los que está compuesto:</p>
                <textarea th:field="*{metals}" rows="1" cols="60" placeholder="Metal 1[, metal 2, metal 3, ...]" required></textarea>
            <p th:if="${#fields.hasErrors('metals')}" th:errors="*{metals}">error de peso</p>

            <p>Descripción: </p>
                <textarea th:field="*{description}" rows="6" cols="60"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">error de peso</p>
            <br>
            <input name="add" type="submit" value="Añadir">
        </form>

        <form action="/" method="get">
            <input type="submit" name="coinModel" value="Cancelar">
        </form>
    </div>
</body>
</html>