<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Añadir ejemplar a la base de datos</span>
    </a>
</header>
<div id="contenedor">
    <div id="crear">
        <form action="/coinAdded" method="post">
            <fieldset>
                <p>Modelo de moneda: <select name="coinModel">
                    <option th:each="coinModel : ${coinModels}" th:if="coinModel.id != null"
                            th:text="${coinModel}" th:value="${coinModel.id}"></option>
                </select></p>
                <p>Proveedor: <select name="supplier">
                    <option th:each="supplier : ${suppliers}" th:if="supplier.id != null"
                            th:text="${supplier}" th:value="${supplier.id}"></option>
                </select></p>
                <p>Año: <input name="coinYear" type="number" value ="1990" required></p>
                <p>Año de adquisición: <input name="acquisitionDate" type="date" value="1990-01-01" required></p>
                <p>Localizacion: <input name="coinLocation" type="text" required></p>
                <p>Estado de preservacion: <input name="preservationState" type="text" required></p>
                <input name="add" type="submit" value="Añadir">
            </fieldset>
        </form>
        <br>
        <div id="nuevo1">
            <form action="add" method="post">
                <fieldset>
                    <legend>Añadir otro</legend>
                    <select name="entities">
                        <option value="coinModel">Modelo de moneda</option>
                        <option value="supplier">Proveedor</option>
                    </select>
                    <input name="anadir" type="submit" value="Añadir">
                </fieldset>
            </form>
        </div>
        <form action="/">
            <input type="submit" value="Volver" />
        </form>
    </div>
</div>
</body>
</html>