<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>
    <h1>Añadir ejemplar de moneda</h1>
    <form action="/coinAdded" method="post">
        <p>
            Modelo de moneda: <select name="coinModel">
                <option th:if="coinModel.id != null" th:each="coinModel : ${coinModels}"
                        th:value="${coinModel}" th:text="${coinModel}"></option>
            </select>
        </p>
        <p>
            Año: <input type="number" name="year">
        </p>
        <p>
            Localizacion: <input type="text" name="postalCode">
        </p>
        <p>
            Año de adquisición: <input type="date" name="acquisitionDate">
        </p>
        <p>
            Estado de preservacion: <input type= "text" name= "preservationState">
        </p>
        <p>
            Proveedor: <select name="supplier">
            <option th:if="supplier.id != null" th:each="supplier : ${suppliers}"
                    th:value="${supplier}" th:text="${supplier}"></option>
            </select>
        </p>
        <input name="add" type="submit" value="Añadir">
    </form>
    <br>
    Registrar nuevo modelo de moneda
    <form action="/anadir/CoinModel" method="post">
        <input name="anadir" type="submit" value="Crear">
    </form>
    Registrar nuevo proveedor
    <form action="/anadir/Supplier" method="post">
        <input name="anadir" type="submit" value="Crear">
    </form>
</body>
</html>