<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="css/add.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>AÑADIR EJEMPLAR DE MONEDA</h1>
<div id="contenedor">
    <div id="crear">
        <form action="/ejemplarAnnadido" method="post">
            <fieldset>
                <p>Modelo de moneda: <select name="coinModel">
                    <option th:each="coinModel : ${coinModels}" th:if="coinModel.id != null"
                            th:text="${coinModel}" th:value="${coinModel.id}"></option>
                </select></p>
                <p>Año: <input name="coinYear" type="number"></p>
                <p>Localizacion: <input name="coinLocation" type="text"></p>
                <p>Año de adquisición: <input name="acquisitionDate" type="date"></p>
                <p>Estado de preservacion: <input name="preservationState" type="text"></p>
                <p>Proveedor: <select name="supplier">
                    <option th:each="supplier : ${suppliers}" th:if="supplier.id != null"
                            th:text="${supplier}" th:value="${supplier.id}"></option>
                </select></p>
                <input name="add" type="submit" value="Añadir">
            </fieldset>
        </form>
        <br>
        <div id="nuevo1">
            <form action="/anadir" method="post">
                <fieldset>
                    <legend>Añadir otro</legend>
                    <select name="entities">
                        <option value="coinModel">Modelo de moneda</option>
                        <option value="supplier">Proveedor</option>
                    </select>
                    <input name="anadir" type="submit" value="Añadir">
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>