<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>
    <h1>Añadir proveedor</h1>
    <form action="/supplierAdded" method="post">
        <p>
            Código de Identificación Fiscal: <input type="text" name="cif">
        </p>
        <p>
            Nombre: <input type="text" name="name">
        </p>
        <p>
            Dirección postal: <input type="number" name="postalCode">
        </p>
        <p>
            Email: <input type="email" name="email">
        </p>
        <p>
            Teléfono de contacto: <input type="number" name="phoneNumber">
        </p>

        <input name="add" type="submit" value="Añadir">
    </form>
</body>
</html>