<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Añadir Proveedor a la base de datos</span>
    </a>
</header>
<div class="page">
    <form action="/supplierAdded" method="post">
        <p>
            Código de Identificación Fiscal: <input type="text" name="cif" required>
        </p>
        <p>
            Nombre: <input type="text" name="name" required>
        </p>
        <p>
            Dirección postal: <input type="number" name="postalCode" required>
        </p>
        <p>
            Email: <input type="email" name="email" placeholder="email@example.com" required>
        </p>
        <p>
            Teléfono de contacto: <input type="number" name="phoneNumber" required>
        </p>

        <input name="add" type="submit" value="Añadir">
    </form>
    <br>
    <form action="/">
        <input type="submit" value="Volver" />
    </form>
</div>
</body>
</html>