<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>
    <h1>Consultas</h1>
    <form action="/coinModelQuery" method="post">
        <fieldset>
            <legend>Filtros</legend>
            Buscar por
            <select name="searchBy">
                <option value="FaceValue">Valor facial</option>
                <option value="Currency">Divisa</option>
                <option value="Diameter">Diámetro (en mm)</option>
                <option value="Weight">Peso (en g)</option>
                <option value="Metals">Metales</option>
                <option value="Description">Palabras clave</option>
            </select>
            Ordenar por
            <select name="orderBy">
                <option value="FaceValue">Valor facial</option>
                <option value="Currency">Divisa</option>
                <option value="Diameter">Diámetro (en mm)</option>
                <option value="Weight">Peso (en g)</option>
            </select>
            Orden
            <select name="order">
                <option value="Asc">Ascendente</option>
                <option value="Desc">Descendente</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Consulta</legend>
                <input name="query" type="text">
            <input name="show" type="submit" value="Consultar">
        </fieldset>
    </form>




</body>
</html>