<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Su ejemplar de moneda ha sido modificado con éxito</span>
    </a>
</header>
<div class="page">
    <h3>Proveedor modificado con éxito</h3>
    <div class="antes">
    <fieldset>
        <legend>Ejemplar desoués de la modificación</legend>
        Modelo de moneda: <a th:text="${coin.coinModel}"></a><br>
        Proveedor: <a th:text="${coin.supplier}"></a><br>
        Año de la moneda: <a th:text="${coin.coinYear}"></a><br>
        Fecha de adquisicion: <a th:text="${coin.acquisitionDate}"></a><br>
        Localización: <a th:text="${coin.coinLocation}"></a><br>
        Estado de preservación: <a th:text="${coin.preservationState}"></a><br>
    </fieldset>
    </div>
    <div class="despues">
    <fieldset>
        <legend>Ejemplar antes de la modificación</legend>
        Modelo de moneda: <a th:text="${coin_b.coinModel}"></a><br>
        Proveedor: <a th:text="${coin_b.supplier}"></a><br>
        Año de la moneda: <a th:text="${coin_b.coinYear}"></a><br>
        Fecha de adquisicion: <a th:text="${coin_b.acquisitionDate}"></a><br>
        Localización: <a th:text="${coin_b.coinLocation}"></a><br>
        Estado de preservación: <a th:text="${coin_b.preservationState}"></a><br>
    </fieldset>
    </div>

    <div class="final">
    <form action="/query" method="post">
        <fieldset>
            <legend>Consultar algo más</legend>
            <select name="entities">
                <option value="coin">Ejemplar (volver atrás)</option>
                <option value="coinModel">Modelo de moneda</option>
                <option value="supplier">Proveedor</option>
            </select>
            <input name="anadir" type="submit" value="Consultar">
        </fieldset>
    </form>
    <form action="/">
        <input type="submit" value="Volver al inicio"/>
    </form>
    </div>
</div>
</body>
</html>