<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="/css/coinQuery.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Consultas de ejemplares</span>
    </a>
</header>
<div id="contenedor">
    <div id="dual">
        <form action="/ejemplarConsulta" method="post">
            <fieldset>
                <legend>Filtros</legend>
                Ordenar por
                <select name="orderBy">
                    <option value="CoinYear">Año</option>
                    <option value="AcquisitionDate">Año de adquisición</option>
                    <option value="CoinLocation">Localización de la moneda</option>
                    <option value="PreservationState">Estado de preservación</option>
                </select>, orden
                <select name="order">
                    <option value="Asc">Ascendente</option>
                    <option value="Desc">Descendente</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Busqueda</legend>
                Buscar por <select name="value1">
                <option value="CoinModel">Modelo de moneda</option>
                <option value="Supplier">Proveedor</option>
                <option value="CoinYear">Año</option>
                <option value="AcquisitionDate">Año de adquisición</option>
                <option value="CoinLocation">Localización de la moneda</option>
                <option value="PreservationState">Estado de preservación</option>
            </select> y <select name="value2">
                <option value="CoinModel">Modelo de moneda</option>
                <option value="Supplier">Proveedor</option>
                <option value="CoinYear">Año</option>
                <option value="AcquisitionDate">Año de adquisición</option>
                <option value="CoinLocation">Localización de la moneda</option>
                <option value="PreservationState">Estado de preservación</option>
            </select><br><br>
                Modelo de moneda: <select name="queryC">
                <option th:each="coinModel : ${coinModels}" th:if="coinModel.id != null"
                        th:text="${coinModel.toString()}" th:value="${coinModel.id} ">
            </select><br><br>
                Proveedor:<select name="querySP">
                <option th:each="supplier : ${suppliers}" th:if="supplier.id != null"
                        th:text="${supplier.toString()}" th:value="${supplier.id}"></option>
            </select><br><br>
                Año de la moneda:Fecha: <select name="time">
                <option value="Same">Coincide</option>
                <option value="Before">Antes</option>
                <option value="After">Despues</option>
            </select>
                <input name="queryY" type="Number" value="1990">
                Fecha de adquisición: Fecha: <select name="time2">
                <option value="Same">Coincide</option>
                <option value="Before">Antes</option>
                <option value="After">Despues</option>
            </select><input name="queryD" type="date" value="1990-01-01"><br><br>
                Localización: <input name="query" type="text">
                Estado: <input name="query2" type="text"><br>
                <input name="ejemplarDual" type="submit" value="Consultar">
            </fieldset>
        </form>
        <br>
    </div>
    <form action="/todosLosEjemplares" method="post">
        <input name="consultar" type="submit" value="Mostrar Todos">
    </form>
    <br>
</div>
<div id="ejemplares">
    <h2>Ejemplares</h2>
    <p th:each="coin : ${coins}">
        <b>Modelo de moneda: </b><a th:text="${coin.coinModel}"></a><br>
        <b>Proveedor: </b><a th:text="${coin.supplier}"></a><br>
        <b>Año de la moneda: </b><a th:text="${coin.coinYear}"></a><br>
        <b>Fecha de adquisicion: </b><a th:text="${coin.acquisitionDate}"></a><br>
        <b>Localización: </b><a th:text="${coin.coinLocation}"></a><br>
        <b>Estado de preservación: </b><a th:text="${coin.preservationState}"></a><br>
        <a th:href="@{/modificarEjemplar(id=${coin.id}, coinn=${coin})}">Modificar</a><br>
    </p>
</div>
</body>
</html>