<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>

<h1>Consultas</h1>
<form action="/coinQuery" method="post">
    <fieldset>
        <legend>Filtros</legend>
        Ordenar por
        <select name="orderBy">
            <option value="CoinYear">Año</option>
            <option value="AcquisitionDate">Año de adquisición</option>
            <option value="CoinLocation">Localización de la moneda</option>
            <option value="PreservationState">Numero de telefono</option>
        </select>
        Orden
        <select name="order">
            <option value="Asc">Ascendente</option>
            <option value="Desc">Descendente</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Consultas</legend>
        Selecciona una opción y después rellena los campos de dicha opción.<br>
        Buscar por: <select name="searchBy">
        <option value="CoinModel">modelo de moneda</option>
        <option value="Supplier">proveedor</option>
        <option value="CoinYear">año de la moneda</option>
        <option value="AcquisitionDate">fecha de adquisición</option>
        <option value="CoinLocation">localización de la moneda</option>
        <option value="PreservationState">estado de preseración</option>
    </select>
        <br>
        <fieldset>
            <legend>Busqueda por modelo de moneda</legend>
            <select name="queryC">
                <option th:if="coinModel.id != null" th:each="coinModel : ${coinModels}"
                        th:value="${coinModel.id} " th:text="${coinModel.toString()}">
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>Busqueda por proveedor</legend>
            <select name="querySP">
                <option th:if="supplier.id != null" th:each="supplier : ${suppliers}"
                        th:value="${supplier.id}" th:text="${supplier.toString()}"></option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>Busqueda por año de la moneda</legend>
            <select name="time">
                <option value="None">Buscar y ordenar por año</option>
                <option value="Before">Antes</option>
                <option value="After">Despues</option>
                <option value="Between">Entre</option>
            </select>
            <input name="query" type="Number"><br>
            Rellenar si se elije Entre:<input name="query2" type="Number">
        </fieldset>
        <br>
        <fieldset>
            <legend>Busqueda por fecha de adquisición</legend>
            <select name="time">
                <option value="None">Buscar y ordenar por fecha</option>
                <option value="Before">Antes</option>
                <option value="After">Despues</option>
                <option value="Between">Entre</option>
            </select>
            <input name="queryD" type="date" placeholder="0000-00-00"><br>
            Rellenar el siguiente si elije "Entre":<input name="queryD2" type="date" placeholder="0000-00-00">
        </fieldset>
        <br>
        <fieldset>
            <legend>Busqueda por estado de la moneda</legend>
            <input name="query" type="text">
        </fieldset>
        <br>
        <fieldset>
            <legend>Busqueda por localización de la moneda</legend>
            <input name="query2" type="text">
        </fieldset>
        <br>
        <input name="coinQuery" type="submit" value="Consultar">
    </fieldset>
</form>

<form action="/todosLosEjemplares" method="post">
    <input name="consultar" type="submit" value="Mostrar Todos">
</form>

<h2>Ejemplares</h2>
<p th:each="coin : ${coins}">
    <a th:text="${coin}"></a>
    <a th:href="@{/modificarEjemplar(id=${coin.id}, coinn=${coin})}">Modificar</a>
</p>
</body>
</html>