<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="/css/add.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Su ejemplar de moneda ha sido modificado con éxito</span>
    </a>
</header>
<div id="contenedor">
    <fieldset>
        Modelo de moneda: <a th:text="${coin.coinModel}"></a><br>
        Proveedor: <a th:text="${coin.supplier}"></a><br>
        Año de la moneda: <a th:text="${coin.coinYear}"></a><br>
        Fecha de adquisicion: <a th:text="${coin.acquisitionDate}"></a><br>
        Localización: <a th:text="${coin.coinLocation}"></a><br>
        Estado de preservación: <a th:text="${coin.preservationState}"></a><br></fieldset>
    <p>Si quiere cambiar algo de nuevo pulse <a th:href="@{/modificarEjemplar(id=${coin.id}, coinn=${coin})}">aquí</a><p>
    <form action="/consultas" method="post">
        <fieldset>
            <legend>Consultar algo más</legend>
            <select name="entities">
                <option value="coin">Ejemplar (volver atrás)</option>
                <option value="coinModel">Modelo de moneda</option>
                <option value="supplier">Proveedor</option>
            </select>
            <input name="anadir" type="submit" value="Consultar">
        </fieldset>
    </form>
    <p>Si quiere volver al inicio pulse <a href="/">aqui</a></p>
</div>
</body>
</html>