<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Consultas de ejemplares</span>
    </a>
</header>
<div class="page">
    <div class="filtros">
        <form action="/coinQuery" method="post">
            <fieldset>
                <legend>Filtros</legend>
                Ordenar por
                <select name="orderBy">
                    <option value="CoinYear" th:selected="(${qOrderBy} == CoinYear)">Año</option>
                    <option value="AcquisitionDate" th:selected="(${qOrderBy} == AcquisitionDate)">Año de adquisición</option>
                    <option value="CoinLocation" th:selected="(${qOrderBy} == CoinLocation)">Localización de la moneda</option>
                    <option value="PreservationState" th:selected="(${qOrderBy} == PreservationState)">Estado de preservación</option>
                </select>, orden
                <select name="order">
                    <option value="1" th:selected="(${qOrder} == 1)">Ascendente</option>
                    <option value="0" th:selected="(${qOrder} == 0)">Descendente</option>
                </select>
            </fieldset>
    </div>
    <div class="consulta">
            <fieldset>
                <legend>Busqueda</legend>
                Buscar por <select name="value1">
                <option value="CoinModel" th:selected="(${qvalue} == CoinModel)">Modelo de moneda</option>
                <option value="Supplier" th:selected="(${qvalue} == Supplier)">Proveedor</option>
                <option value="CoinYear" th:selected="(${qvalue} == CoinYear)">Año</option>
                <option value="AcquisitionDate" th:selected="(${qvalue} == AcquisitionDate)">Año de adquisición</option>
                <option value="CoinLocation" th:selected="(${qvalue} ==CoinLocation)">Localización de la moneda</option>
                <option value="PreservationState" th:selected="(${qvalue} == PreservationState)">Estado de preservación</option>
            </select> y <select name="value2">
                <option value="CoinModel" th:selected="(${qvalue2} == CoinModel)">Modelo de moneda</option>
                <option value="Supplier" th:selected="(${qvalue2} == Supplier)">Proveedor</option>
                <option value="CoinYear" th:selected="(${qvalue2} == CoinYear)">Año</option>
                <option value="AcquisitionDate" th:selected="(${qvalue2} == AcquisitionDate)">Año de adquisición</option>
                <option value="CoinLocation" th:selected="(${qvalue2} ==CoinLocation)">Localización de la moneda</option>
                <option value="PreservationState" th:selected="(${qvalue2} == PreservationState)">Estado de preservación</option>
            </select><br><br>
                Modelo de moneda: <select name="queryC">
                <option th:each="coinModel : ${coinModels}" th:if="coinModel.id != null"
                        th:text="${coinModel}" th:value="${coinModel.id} ">
            </select><br><br>
                Proveedor:<select name="querySP">
                <option th:each="supplier : ${suppliers}" th:if="supplier.id != null"
                        th:text="${supplier}" th:value="${supplier.id}"></option>
            </select><br><br>
                Año de la moneda:Fecha: <select name="time">
                <option value="Same"  th:selected="(${qtime} == Same)">Coincide</option>
                <option value="Before" th:selected="(${qtime} == Before)">Antes</option>
                <option value="After" th:selected="(${qtime} == After)">Despues</option>
            </select>
                <input name="queryY" type="Number" th:value="${qqueryY}" required>
                Fecha de adquisición: Fecha: <select name="time2">
                <option value="Same"  th:selected="(${qtime2} == Same)">Coincide</option>
                <option value="Before" th:selected="(${qtime2} == Before)">Antes</option>
                <option value="After" th:selected="(${qtime2} == After)">Despues</option>
            </select><input name="queryD" type="date" th:value="${qqueryD}" required><br><br>
                Localización: <input name="query" type="text" th:value="${qquery}">
                Estado: <input name="query2" type="text" th:value="${qquery2}"><br>
                <input name="ejemplarDual" type="submit" value="Consultar">
            </fieldset>
        </form>
        <br>
    </div>
    <form action="/allCoins" method="post">
        <input name="consultar" type="submit" value="Mostrar Todos">
    </form>
    <br>
    <form action="/">
        <input type="submit" value="Volver" />
    </form>
    <h2>Ejemplares</h2>
    <p th:each="coin : ${coins}">
        Modelo de moneda: <a th:text="${coin.coinModel}"></a><br>
        Proveedor: <a th:text="${coin.supplier}"></a><br>
        Año de la moneda: <a th:text="${coin.coinYear}"></a><br>
        Fecha de adquisicion: <a th:text="${coin.acquisitionDate}"></a><br>
        Localización: <a th:text="${coin.coinLocation}"></a><br>
        Estado de preservación: <a th:text="${coin.preservationState}"></a><br>
        <a th:href="@{/coinModify(id=${coin.id}, coinn=${coin})}">Modificar</a><br>
    </p>
</div>
</body>
</html>