<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Su ejemplar de moneda ha sido modificado con éxito</span>
    </a>
</header>

<form action="/query" method="post">
    <fieldset>
        <legend>Consultar algo más</legend>
        <select name="entities">
            <option value="coin">Ejemplar (volver atrás)</option>
            <option value="coinModel">Modelo de moneda</option>
            <option value="supplier">Proveedor</option>
        </select>
        <input name="anadir" type="submit" value="Consultar">
    </fieldset>
</form>
<form action="/">
    <input type="submit" value="Volver al inicio" />
</form>
</body>
</html>