<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/add.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Modifique su ejemplar</span>
    </a>
</header>
<div id="contenedor">
    <form action="/ejemplarModificado" method="post">
        <input type="hidden" name="id" th:value="${coin.id}">
        <fieldset>
            <p><b>Modelo de moneda:</b> <select name="coinModel">
                <option th:value="${coin.coinModel.id}" th:text="${coin.coinModel}">
                <option th:if="coinModel.id!=null" th:each="coinModel : ${coinModels}"
                        th:value="${coinModel.id}" th:text="${coinModel}"></option>
            </select></p>
            <p><b>Año: </b><input type="number" name="coinYear" th:value="${coin.coinYear}"></p>
            <p><b>Fecha de adquisición: </b><input type="date" name="acquisitionDate"
                                                   th:value="${coin.acquisitionDate}">
            </p>
            <p><b>Localización de la moneda: </b><input type="text" name="coinLocation" th:value="${coin.coinLocation}">
            </p>
            <p><b>Estado de preservación: </b><input type="text" name="preservationState"
                                                     th:value="${coin.preservationState}"></p>
            <p><b>
                Proveedor: <select name="supplier">
                <option th:value="${coin.supplier.id}" th:text="${coin.supplier}">
                <option th:if="supplier.id!=null" th:each="supplier : ${suppliers}"
                        th:value="${supplier.id}" th:text="${supplier}"></option>
            </select></b></p>
            <input name="modify" type="submit" value="Modificar">
        </fieldset>
    </form>
</div>
</body>
</html>