<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Modifique su proveedor</span>
    </a>
</header>
<div class="page">
<h1>Modificar proveedor</h1>
<form action="/modifySupplier" method="post">
    <input type="hidden" name="id" th:value="${supplier.id}">
    <p>
        Código de Identificación Fiscal: <input type="text" name="cif" th:value="${supplier.cif}" required>
    </p>
    <p>
        Nombre: <input type="text" name="name" th:value="${supplier.name}" required>
    </p>
    <p>
        Código postal: <input type="number" name="postalCode" th:value="${supplier.postalCode}" required>
    </p>
    <p>
        Email: <input type="email" name="email" th:value="${supplier.email}" placeholder="email@example.com" required>
    </p>
    <p>
        Número de teléfono: <input type="number" name="phoneNumber" th:value="${supplier.phoneNumber}" required>
    </p>
    <input name="modify" type="submit" value="Modificar">
</form>
<br>
<form action="/backFromModifySupplierToSupplierQuery">
    <input type="submit" value="Cancelar" />
</form>
</div>
</body>
</html>