<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Modificar proveedor</h1>
<form action="/modifyCoin" method="post">
                    <input type="hidden" name="id" th:value="${coin.id}">

    <p>
        <label>
        Modelo de moneda: <select><option th:if="coinModel.id!=null" th:each="coinModel : ${coinModels}"
                                  th:value="${coinModel}" th:text="${coinModel.toString()}"></option>
        </select>
        </label>
    </p>
    <p>
        Año: <input type="number" name="coinYear" th:value="${coin.coinYear}">
    </p>
    <p>
        Fecha de adquisición: <input type="date" name="acquisitionDate" th:value="${coin.acquisitionDate}">
    </p>
    <p>
        Localización de la moneda: <input type="text" name="coinLocation" th:value="${coin.coinLocation}">
    </p>
    <p>
        Estado de preservación: <input type="text" name="preservationState" th:value="${coin.preservationState}">
    </p>
    <p>
        <label>
        Proveedor: <select><option th:if="supplier.id!=null" th:each="supplier : ${suppliers}"
                                   th:value="${supplier}" th:text="${supplier.toString()}"></option>
        </select>
        </label>
    </p>
    <input name="modify" type="submit" value="Modificar">
</form>
</body>
</html>