<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Modifique su ejemplar</span>
    </a>
</header>
<div id="contenedor">
    <form action="/coinModified" method="post">
        <input type="hidden" name="id" th:value="${coin.id}">
        <fieldset>
            <p>Modelo de moneda:<select name="coinModel">
                <option th:value="${coin.coinModel.id}" th:text="${coin.coinModel}">
                <option th:if="coinModel.id!=null" th:each="coinModel : ${coinModels}"
                        th:value="${coinModel.id}" th:text="${coinModel}"></option>
            </select></p>
            <p>Año: <input type="number" name="coinYear" th:value="${coin.coinYear}" required></p>
            <p>Fecha de adquisición: <input type="date" name="acquisitionDate" th:value="${coin.acquisitionDate}" required>
            </p>
            <p>Localización de la moneda: <input type="text" name="coinLocation" th:value="${coin.coinLocation}"required>
            </p>
            <p>Estado de preservación: <input type="text" name="preservationState" th:value="${coin.preservationState}" required></p>
            <p>
                Proveedor: <select name="supplier">
                <option th:value="${coin.supplier.id}" th:text="${coin.supplier}">
                <option th:if="supplier.id!=null" th:each="supplier : ${suppliers}"
                        th:value="${supplier.id}" th:text="${supplier}"></option>
            </select></p>
            <input name="modify" type="submit" value="Modificar">
        </fieldset>
    </form>
</div>
</body>
</html>