<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>
    <h1>Modificar modelo de moneda</h1>
    <form action ="#" th:action="@{/modifyCoinModel}" method="post" th:object="${coinModel}">
        <p>
            Valor facial: <input name="FaceValue" type="number" min="0" step="0.01" th:field="*{faceValue}">
        </p>
        <p>
            Unidad monetaria: <input name="Currency" type="text" th:field="*{currency}">
        </p>
        <p>
            Diámetro (en mm): <input name="Diameter" type="number" min="0" step="0.01" th:field="*{diameter}">
        </p>
        <p>
            Peso (en g): <input name="Weight" type="number" min="0" step="0.01" th:field="*{weight}" th>
        </p>
        <p>
            Metal/es de los que está compuesto: <textarea name="Metals" rows="1" cols="20" th:field="*{metals}"></textarea>
        </p>
        <p>
            Descripción: <textarea name="Description" rows="1" cols="20" th:field="*{coinModel.description}"></textarea>
        </p>
        <input name="modify" type="submit" value="Modificar">
    </form>


</body>
</html>