<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
        <span class="site-desc">Consultas de proveedores</span>
    </a>
</header>
<div class="page">
    <form action="/supplierQuery" method="post">

        <div class="filtros">
        <fieldset>
            <legend>Filtros</legend>
            Ordenar por
            <select name="orderBy">
                <option value="CIF">CIF</option>
            <option value="Name" th:selected="(${qOrderBy} == Name)">Nombre</option>
            <option value="PostalCode" th:selected="(${qOrderBy} == PostalCode)">Codigo postal</option>
            <option value="Email" th:selected="(${qOrderBy} == Email)">Email</option>
            <option value="PhoneNumber" th:selected="(${qOrderBy} == PhoneNumber)">Numero de telefono</option>
            </select>
            Orden
            <select name="order">
                <option value="1" th:selected="(${qOrder} == 1)">Ascendente</option>
                <option value="0" th:selected="(${qOrder} == 0)">Descendente</option>
            </select>
        </fieldset>
        </div>

        <div class="consulta">
            <fieldset>
                <legend>Consulta</legend>
                <p>CIF <input name="cif" type="text"></p>
                <p>Nombre <input name="name" type="text"/></p>
                <p>Email <input name="email" type="email" placeholder="email@example.com"/></p>
                <p>
                    <div class="tooltip">Código postal <span class="tooltiptext">
                        Rellene el primer campo para buscar valores mayores, el segundo para valores menores, y ambos
                        para buscar entre esos dos. Si los valores coinciden, se buscaran los que coindidan con estos.
                    </span></div>
                    <input name="postalCodeA" type="number"> a <input name="postalCodeB" type="number">
                </p>
                <p>Número de teléfono <input name="phoneNumber" type="number"></p>
            </fieldset>
        </div>
        <p>
        <input name="supplierQuery" type="submit" value="Consultar">
        </p>
    </form>
    <form action="/">
        <input type="submit" value="Volver" />
    </form>

    <h2>Proveedores</h2>
    <p th:each="supplier : ${suppliers}">
        CIF:
        <a th:text="${supplier.cif}"></a>
        Nombre:
        <a th:text="${supplier.name}"></a>
        <br>
        <a th:text="${supplier.postalCode}"></a>
        <a th:text="${supplier.email}"></a>
        <a th:text="${supplier.phoneNumber}"></a>
        <a th:href="@{/modify(id=${supplier.id}, supp=${supplier})}">Modificar</a>
    </p>
</div>
</body>
</html>