<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo DB</title>
</head>
<body>
<h3>Proveedor modificado con éxito</h3>

<p>Proveedor después de la modificación</p>
<p>
    CIF: <a th:text="${supplier.cif}"></a><br>
    Nombre: <a th:text="${supplier.name}"></a><br>
    Código postal: <a th:text="${supplier.postalCode}"></a><br>
    Email: <a th:text="${supplier.email}"></a><br>
    Número de teléfono: <a th:text="${supplier.phoneNumber}"></a><br>
</p>

<p>Proveedor antes de la modificación</p>
<p>
    CIF: <a th:text="${supplier_b.cif}"></a><br>
    Nombre: <a th:text="${supplier_b.name}"></a><br>
    Código postal: <a th:text="${supplier_b.postalCode}"></a><br>
    Email: <a th:text="${supplier_b.email}"></a><br>
    Número de teléfono: <a th:text="${supplier_b.phoneNumber}"></a><br>
</p>
<form action="/backFromModifySupplierToSupplierQuery">
    <input type="submit" value="Hacer otra consulta" />
</form>
<br>
<form action="/">
    <input type="submit" value="Volver"/>
</form>
</body>
</html>