<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page">
    <h3>Proveedor añadido con éxito</h3>
    <p>
        <b>CIF: </b><a th:text="${supplier.cif}"></a><br>
        <b>Nombre: </b><a th:text="${supplier.name}"></a><br>
        <b>Código postal: </b><a th:text="${supplier.postalCode}"></a><br>
        <b>Email: </b><a th:text="${supplier.email}"></a><br>
        <b>Número de teléfono: </b><a th:text="${supplier.phoneNumber}"></a><br>
    </p>
    <form action="/addAnotherOneSupplier">
        <input type="submit" value="Añadir otro" />
    </form>
    <br>
    <form action="/">
        <input type="submit" value="Volver" />
    </form>
</div>
</body>
</html>