<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
    <link href="/css/mika.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Museo Sole Novum</span>
    </a>
</header>
<div class="page">
    <h3>Su proveedor ha sido modificado con éxito</h3>
    <div class="antes">
        <fieldset>
            <legend>Proveedor antes de la modificación</legend>
            <p>
                <b>CIF: </b><a th:text="${supplier_b.cif}"></a><br>
                <b>Nombre: </b><a th:text="${supplier_b.name}"></a><br>
                <b>Código postal: </b><a th:text="${supplier_b.postalCode}"></a><br>
                <b>Email: </b><a th:text="${supplier_b.email}"></a><br>
                <b>Número de teléfono: </b><a th:text="${supplier_b.phoneNumber}"></a><br>
            </p>
        </fieldset>
    </div>

    <div class="despues">
        <fieldset>
            <legend>Proveedor después de la modificación</legend>
            <p>
                <b>CIF: </b><a th:text="${supplier.cif}"></a><br>
                <b>Nombre: </b><a th:text="${supplier.name}"></a><br>
                <b>Código postal: </b><a th:text="${supplier.postalCode}"></a><br>
                <b>Email: </b><a th:text="${supplier.email}"></a><br>
                <b>Número de teléfono: </b><a th:text="${supplier.phoneNumber}"></a><br>
            </p>
        </fieldset>
    </div>

    <div class="final">
        <br>
        <form action="/backFromModifySupplierToSupplierQuery">
            <input type="submit" value="Hacer otra consulta" />
        </form>
        <br>
        <form action="/">
            <input type="submit" value="Volver"/>
        </form>
    </div>
</div>
</body>
</html>