<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museo SN</title>
    <link rel="icon" type="image/png" href="/mkcoin.png"/>
</head>
<body>
    <h3>Proveedor añadido con éxito</h3>
    <p>
        CIF: <a th:text="${supplier.cif}"></a><br>
        Nombre: <a th:text="${supplier.name}"></a><br>
        Código postal: <a th:text="${supplier.postalCode}"></a><br>
        Email: <a th:text="${supplier.email}"></a><br>
        Número de teléfono: <a th:text="${supplier.phoneNumber}"></a><br>
    </p>
    <form action="/addAnotherOneSupplier">
        <input type="submit" value="Añadir otro" />
    </form>
    <br>
    <form action="/">
        <input type="submit" value="Volver" />
    </form>
</body>
</html>